.about-me-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: auto; 
  margin-right: auto; 
  max-width: 800px; 
}


.about-me-left {
  max-width: 200px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.about-me-right {
  width: 65%;
  position: relative;
}

.about-me-left img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 15%;
}

.about-me-right p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.social-links {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 0;
  margin-top: 20px;
  
}

.social-links a img {
  max-width: 30px;
}


@media (max-width: 768px) {
  .skills-column {
    flex-basis: 100%; 
  }

  .about-me-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 50px; 
  }

  .about-me-left {
    margin-bottom: 20px;
  }

  .about-me-left img {
    max-width: 100%;
    width: 200px; 
    height: auto;
    border-radius: 15%;
  }

  .about-me-right {
    width: 100%; 
  }

  .about-me-right h2 {
    text-align: center; 
  }

  .social-links {
    justify-content: center; 
    margin-top: 20px;
  }
}