<div class="about-me-container">
  <div class="about-me-left">
    <img src="assets/foto.jpeg" alt="Minha Foto">
  </div>
  <div class="about-me-right">
    <p>
      Desenvolvedor Full-stack Jr., atualmente cursando Análise e Desenvolvimento de Sistemas, bem como cursos profissionalizantes em desenvolvimento web. Experiência em desenvolvimento em Java, C#, .NET, Angular e banco de dados SQL.

    </p>
    <div class="social-links">
      <a href="https://github.com/marcosdorneles" target="_blank">
        <img src="assets/github.png" alt="GitHub">
      </a>
      <a href="https://www.linkedin.com/in/marcos-dorneles/" target="_blank">
        <img src="assets/linkedin.png" alt="LinkedIn">
      </a>
      <!-- testar em producao -->
      <a href="https://drive.google.com/file/d/1ro52JpCZZuWp92drTEzvHvJm5-FMhJW1/view?usp=share_link" target="_blank">
        <img src="assets/curriculo.png" alt="Currículo">
      </a>
    </div>

  </div>
</div>
