<footer class="footer bg-dark text-white py-3">
    <div class="container d-flex flex-row justify-content-between">
      <div class="personal-info">
        <p>Marcos Guilherme Dorneles Staub</p>
        <p>Email: marcos.gui35@gmail.com</p>
      </div>
      <div class="social-links">
        <ul class="list-unstyled d-flex gap-2">
          <li>
            <a href="https://www.linkedin.com/in/marcos-dorneles/" target="_blank">
              <img src="assets/linkedin.png" alt="LinkedIn">
            </a>
          </li>
          <li>
            <a href="https://github.com/marcosdorneles" target="_blank">
              <img src="assets/github.png" alt="GitHub">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  