.footer {
    padding: 20px;
    bottom: 0;
    width: 100%;
  }
  
  .personal-info {
    flex-grow: 1;
  }
  
 
  
  .social-links img {
    max-width: 30px;
  }
  
  .social-links li:last-child {
    margin-right: 0;
  }
  .social-links li {
    margin-right: 15px;
  }