<!DOCTYPE html>
<html>
<head>
  <title>Projetos</title>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
</head>
<body>
  <div class="container mt-5">
    <h2 class="text-center">Projetos</h2>
    <div class="row mt-4">
      <div class="col-md-3 mb-4">
        <a href="https://brasileirao-app.vercel.app">
        <div class="card">
          <img src="assets/brasileiraoapp.png" class="card-img-top" alt="Projeto 1">
          <div class="card-body">
            <h5 class="card-title" >Brasileirãoapp</h5>
            <p class="card-text">tabela do Campeonato Brasileiro, desenvolvida como parte do meu treinamento em Angular. Consumo de APIs externas e deploy utilizando vercel.</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3 mb-4" id="Projetos">
        <a href="https://www.linkedin.com/posts/marcos-dorneles_ol%C3%A1-pessoal-gostaria-de-compartilhar-com-activity-7054108662046306305-12i5?utm_source=share&utm_medium=member_desktop">
        <div class="card">
          <img src="assets/labclothingcollection.png" class="card-img-top" alt="Projeto 2">
          <div class="card-body">
            <h5 class="card-title">LabClothingCollection</h5>
            <p class="card-text"> projeto desenvolvido em Angular, como forma de avaliação do primeiro módulo do curso DEVinHouse[Audaces] LAB 365. 

            </p>
          </div>
        </div>
         </a>
      </div>
      <div class="col-md-3 mb-4">
        <a href="https://www.linkedin.com/posts/marcos-dorneles_finalizando-o-segundo-m%C3%B3dulo-do-curso-devinhouse-activity-7087907994146902017-eZGf?utm_source=share&utm_medium=member_desktop">
        <div class="card">
          <img src="assets/labclothingcollectionapi.jpeg" class="card-img-top" alt="Projeto 3">
          <div class="card-body">
            <h5 class="card-title">LabClothingCollection API</h5>
            <p class="card-text">API Rest desenvolvida utilizando .NET</p>
          </div>
        </div>
        </a>
      </div>
      <div class="col-md-3 mb-4">
        <a href="https://github.com/programador-tv/dotnet-fala-para-texto">
        <div class="card">
          <img src="assets/falaparatexto.png" class="card-img-top" alt="Projeto 4">
          <div class="card-body">
            <h5 class="card-title">Fala para texto</h5>
            <p class="card-text">Projeto desenvolvido em .net, visando o tratamento de áudio por meio da biblioteca Text to Speech da Azure.</p>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
