<div class="skills-container">
    <h2 class="skills-title">Habilidades</h2>
    <div class="skills-list">
      <div class="skills-column">
        <ul>
          <li>
            <img src="assets/java.png" alt="Java Logo" />
            Java
          </li>
          <li>
            <img src="assets/spring.svg" alt="Spring Logo" />
            Spring
          </li>
        </ul>
      </div>
      <div class="skills-column">
        <ul>
          <li>
            <img src="assets/angular.svg" alt="Angular Logo" />
            Angular
          </li>
          <li>
            <img src="assets/javascript.svg" alt="JavaScript Logo" />
            JavaScript
          </li>
        </ul>
      </div>
      <div class="skills-column">
        <ul>
          <li>
            <img src="assets/sql.png" alt="SQL Logo" />
            SQL
          </li>
          <li>
            <img src="assets/csharp.svg" alt="C# Logo" />
            C#
          </li>
        </ul>
      </div>
      <div class="skills-column">
        <ul>
          <li>
            <img src="assets/dotnet.png" alt=".NET Logo" />
            .NET
          </li>
          <li>
            <img src="assets/git.png" alt="Git Logo" />
            Git
          </li>
        </ul>
      </div>
      <div class="skills-column">
        <ul>
          <li>
            <img src="assets/docker.png" alt="Docker Logo" />
            Docker
          </li>
        </ul>
      </div>
    </div>
  </div>
  